/Bear.class
/Boar.class
/Bull.class
/Bunny.class
/Cat.class
/Chicken.class
/Cow.class
/Creature.class
/Deer.class
/Dog.class
/Donkey.class
/Duck.class
/Fox.class
/Frog.class
/Goat.class
/Horse.class
/Monkey.class
/Mouse.class
/Owl.class
/Pig.class
/Sheep.class
/Snake.class
/Squirrel.class
/Tiger.class
/Turtle.class
/Wolf.class
